[submodule "bundle/vim-lang-javascript"]
	path = bundle/vim-lang-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-colors-hybrid"]
	path = bundle/vim-colors-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/interface-tagbar"]
	path = bundle/interface-tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/interface-vim-airline"]
	path = bundle/interface-vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/interface-nerdtree"]
	path = bundle/interface-nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/misc-ctrlp"]
	path = bundle/misc-ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/misc-syntastic"]
	path = bundle/misc-syntastic
	url = https://github.com/scrooloose/syntastic
